@model AboutViewModel

<h1>About Us</h1>
<h3>Who are we </h3>

<p>SMS is a student management system was created on
    //@Model.Formed or @Model.Days ago
</p>

<!--we want as little work as possible in the view(its job is to display data not calculate it) >
 